@model IEnumerable<OrganizationManagementTool.Models.FacultyModel>

@{
    ViewData["Title"] = "FacultyList";
}
<meta name="viewport" content="width=device-width, initial-scale=1">



<h1>Faculty List</h1>

<p class="float-right">
    <a asp-action="Faculty" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
        </svg>
    </a>
</p>
<form method="post" asp-action="FacultyList">
    <div class="row">
        <div class="col-sm-4">
            <input type="search" class="form-control" placeholder="Enter ...." value="@ViewData["GetFacultyList"]" name="tmp" />
        </div>
        <div class="col-sm-3">
            <input type="submit" value="Filter" class="btn btn-primary" />
        </div>
    </div>
</form>
<table id="FacultyTbl" class="table table-striped table-sm" cellspacing="0" width="100%" style="border-radius:4px;box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgb(96 ,166 ,193 , 80%) 4px 4px 14px 0px;">
    <thead class="bg-info">
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>*@
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Email")
            </th>
            <th>
                @Html.DisplayName("Mobile")
            </th>
            <th>
                @Html.DisplayName("Age")
            </th>
            <th>
                @Html.DisplayName("Gender")
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.DeptId)
                </th>*@
            <th>
                @Html.DisplayName("Department Name")
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.DeptId)
                    </td>*@
                @*<td>
                    @Html.DisplayFor(modelItem => item.DeptName)
                </td>*@
                <td>
                    @Html.ActionLink("Edit", "Faculty", new { id = item.Id, item.Name, item.Mobile, item.Email, item.DeptId, item.Age, item.Gender }, new { @class = "btn btn-success" }) |
                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    @Html.ActionLink("Delete", "DeleteFaculty", new { id = item.Id }, new { @class = "btn btn-success", onclick = "return confirm('Are you sure you want to delete?')" })
                </td>
            </tr>
        }
    </tbody>
</table>
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
@section scripts
    {
    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script>
        $('#FacultyTbl1').DataTable({});
    </script>
}
